# Docker Compose volume mappings
docker-compose/volumes/*
!docker-compose/volumes/**/.keep

# .NET build artifacts
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Azure Functions local settings
local.settings.json

# DotCover
.idea/
*.dotCover

# Rider
*.sln.iml

# Others
*.log
*.vspscc
*.vssscc