@page "/"

<PageTitle>Pastry Tycoon</PageTitle>

<div class="text-center">
    <h1>Pastry Tycoon</h1>

    <div class="d-grid gap-3 col-4 mx-auto mt-5">
        <a href="/new-game" class="btn btn-primary btn-lg">New Game</a>
        <button class="btn btn-secondary btn-lg" disabled>Continue Game</button>
        <a href="/settings" class="btn btn-primary btn-lg">Settings</a>
    </div>
</div>